*{
    color: #1F2833;
    font-size: 20px;
}

.title_text{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 35px;
}

p{
    padding-left: 10px;
}

img{
    padding-left: 10px;
}

@media only screen and (min-width: 1300px){
    p{
        margin: 0 230px;
    }
}

@media only screen and (max-width: 1300px){
    p{
        margin: 0 180px;
    }
}

@media only screen and (max-width: 1000px){
    p{
        margin: 0 130px;
    }
}

@media only screen and (max-width: 900px){
    p{
        margin: 0;
    }
}